/* work now dad learn css
https://1stwebdesigner.com/css-effects/
https://www.creativebloq.com/inspiration/css-animation-examples
https://www.w3schools.com/w3css/defaulT.asp */
body{
  margin: 0%;
  background: #1a1c31;
}